/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.TabClass {
  color: black !important;
}

.InActiveClass {
  color: white !important;
}

/* ////---------------- Comming Soon */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.MainComing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 180px;
  margin-bottom: 20px;
}

.coming-soon {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.subtext {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.additional-info {
  font-size: 1rem;
  color: #888;
  margin-top: 20px;
}

.css-izgmo-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 100px !important;
  background-color: #f2f3f5 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 20px !important;
  margin-right: 7px !important;
}

.css-1ud9pra {
  border-radius: 100px !important;
  background-color: #f2f3f5 !important;
}

.css-vubbuv {
  width: 20px !important;
  margin-right: 7px !important;
}
